.DS_Store
*.pyc
*.so
build/
data/
dist/
database/
knowledgestream.egg-info/
output/
.metadata/
.idea/
data.zip
*.class
*.classpath
*.project
factchecking-demo/node_modules/
algorithms/
Webserver/bin/
