.DS_Store
*.pyc
*.so
*.c
*.cpp
venv/
build/
data/
dist/
database/
knowledgestream.egg-info/
.metadata/
.idea/
data.zip
*.class
*.classpath
*.project
factchecking-demo/node_modules/
*.prefs
Webserver/bin/

