<form [formGroup]="factForm" autocomplete="off" novalidate (ngSubmit)="createFact(factForm.value)">
<div class="example-container">
  <mat-toolbar color="primary">{{title}}</mat-toolbar>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Subject" formControlName="subjectURI" id="subjectURI" required>
    <mat-hint align="end">Enter the subject URI</mat-hint>
    <mat-error>Invalid URI</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Predicate" formControlName="predicateURI" id="predicateURI" required>
    <mat-hint align="end">Enter the predicate URI</mat-hint>
    <mat-error>Invalid URI</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Object" formControlName="objectURI" id="objectURI" required>
    <mat-hint align="end">Enter the object URI</mat-hint>
    <mat-error>Invalid URI</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>FC Algorithm</mat-label>
    <mat-select formControlName="selectedAlgorithm">
      <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.value">
        {{algorithm.viewValue}}
      </mat-option>
    </mat-select>
    <mat-hint align="end">Select any algorithm</mat-hint>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" [disabled]="!factForm.valid">Submit</button>
    <button mat-raised-button color="primary" (click)="resetEverything()">Reset</button>
  </div>
  <app-results></app-results>
</div>
</form>
